<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | Home</title>
  </head>
  <body>
    <h1>My love for Andrea</h1>
    <p>
      This is the home page about my love for Andrea Guerrini
		Te amo TANTO TANTO TANTO!!    </p>
  </body>
</html>